html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 62.5%;
  background: #f7fcfe;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: inherit;
  line-height: 1.7;
  box-sizing: border-box;
  background: #fff;
  background-size: cover;
  background-position: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

main {
  min-height: 100vh;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 200px 1000px;
  grid-auto-rows: auto;
  position: relative;
}

.intro-section {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  background-color: #fff;
  background: #f7fcfe;
}

.hero {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  background: #fff;
}

.news {
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  background-color: #fff;
  background: #f7fcfe;
}

.side-nav {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  background-color: #fff;
}

.main-section {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

.friend-list {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  overflow: auto;
  background-color: #fff;
}

.side-nav ul {
  display: flex;
  flex-direction: column;
}

.side-nav ul li {
  height: 100%;
  width: 100%;
}

.side-nav ul li a {
  font-size: 1.8rem;
  padding: 20px;
  display: block;
  transition: all 0.1s ease-in;
  color: #182848;
}

.side-nav ul li a:hover {
  background-color: #f7fcfe;
  border-left: 5px solid #55efc4;
}

.card {
  width: 45rem;
  background-color: #fff;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  margin: 3rem 15rem;
  overflow: hidden;
  padding: 3rem 1.5rem;
}

.card__header {
  text-align: center;
  color: #182848;
}

.card__formitem {
  width: 90%;
  margin: 1.5rem auto;
  border-bottom: 1.4px solid #2d3436;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s ease-in;
}

.card__formitem:focus-within {
  border-bottom: 1.4px solid #55efc4;
}

.card__formitem:focus-within .material-icons {
  color: #55efc4;
}

.card__formitem.is-invalid {
  border-bottom: 1.4px solid #ff3838;
}

.card__formitem.is-invalid .material-icons {
  color: #ff3838;
}

.card__formitem input {
  width: 90%;
  padding: 1.5rem;
  border: none;
  outline: none;
  background: inherit;
  font-size: 1.5rem;
}

.card__formitem .material-icons {
  color: #2d3436;
  align-self: center;
  transition: all 0.3s ease-in;
}

.error-div {
  width: 90%;
  margin: 1.5rem auto;
}

.error-div .error {
  color: red;
  font-size: 1.5rem;
}

.card__formaction {
  width: 90%;
  margin: 3rem auto;
}

.card__formaction button {
  width: 100%;
  padding: 1.3rem;
  border-radius: 0.3rem;
  color: #182848;
  background: #55efc4;
  font-size: 2rem;
  letter-spacing: 2px;
  outline: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.card__formaction button:hover {
  background-color: #26ebb4;
  outline: none;
}

.card__formaction button:active {
  box-shadow: none;
  transform: translateY(1px);
}

.card__formaction--login {
  width: 90%;
  margin: 1.5rem auto 0.8 auto;
  text-align: center;
}

.card__formaction--login a {
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.card__formaction--text {
  color: black;
}

.card__formaction--link {
  color: #55efc4;
  margin-left: 3px;
}

.card__formitem--checkbox {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  align-items: center;
}

.card__formitem--checkbox input {
  margin-right: 2rem;
}

.card__formitem--checkbox p {
  font-size: 1.5rem;
}

.forgot__password {
  width: 90%;
  margin: 1.2rem auto;
  text-align: center;
}

.forgot__password a {
  font-size: 1.4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px 2px rgba(61, 63, 65, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #182848;
}

.navbar__logo {
  margin: 0 20px;
}

.navbar__logo img {
  width: 100px;
}

.navbar__links {
  height: 100%;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.navbar__links .navbar__item {
  font-size: 1.8rem;
  padding: 30px;
  text-decoration: none;
  color: #182848;
  transition: all 0.2s ease-in;
}

.navbar__links .navbar__item:hover {
  background-color: #55efc4;
}

.username {
  position: relative;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username a {
  color: #182848;
}

.username:hover .dropdown {
  opacity: 1;
  cursor: pointer;
}

.username .dropdown {
  border-radius: 3px;
  position: absolute;
  top: 0px;
  left: 20%;
  transition: all 0.4s ease;
  transform: translate(0, -10px);
  opacity: 0;
  cursor: none;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 150px;
  padding: 5px 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 555;
}

.username .dropdown a {
  height: 100%;
  padding: 7px;
  width: 100%;
  transition: all 0.3s ease;
}

.username .dropdown a:hover {
  color: orangered;
}

.username .dropdown:after {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: 100%;
  right: 5%;
}

.material-icons {
  cursor: pointer;
}

.dropdown .logout {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero {
  width: 100%;
  background: #657685;
  background: #f7fcfe;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1.5rem;
  width: 70%;
}

.hero .hero-text p {
  color: #182848;
  font-size: 1.9rem;
}

.main_stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid #edeeef;
}

.main_stats a {
  font-size: 1.5rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in;
  padding: 0 10px;
}

.main_stats a:hover {
  border-bottom: 3px solid black;
}

.main_stats a:hover span {
  color: #182848;
}

.main_stats a span {
  display: block;
  text-align: center;
  font-weight: 700;
  color: #182848;
}

.intro-section {
  padding: 1rem;
  min-height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #edeeef;
  border-right: 1px solid #edeeef;
  background: #fff;
  position: relative;
}

.intro-section .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-section .header .profile-img-box {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  margin: auto;
  border-radius: 50%;
}

.intro-section .header .profile-img-box img {
  width: 100%;
  border-radius: 50%;
}

.intro-section .job-description {
  text-align: center;
}

.intro-section .social-media {
  width: 100%;
  margin: 5px auto;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.intro-section .social-media a {
  color: #182848;
  margin-right: 1.5rem;
}

.intro-section .social-media a i {
  font-size: 20px;
}

.friend-list-item {
  border-bottom: 1px solid #edeeef;
  padding: 20px 30px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.friend-list-item .follow {
  background: #edeeef;
  padding: 5px 10px;
  border-radius: 5px;
  color: #182848;
}

.news {
  border-left: 1px solid #edeeef;
  border-bottom: 1px solid #edeeef;
  background-color: #fff;
}

